@model GymWizz.Models.MainViewModel
@{
    ViewBag.Title = "Main";
}

<h2>Main Interface</h2>
<h4>@ViewBag.GymName</h4>
<h5><span id="currentNum">Number of people In gym: @ViewBag.NumberOfPeople </span></h5>

@using (Html.BeginForm("Main", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.IsGoing, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.IsGoing, new {@id="isgoing"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GoingTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.GoingTime, (SelectList)ViewBag.GoingTimes, new { @id="goingtime", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LeavingTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.LeavingTime, (SelectList)ViewBag.LeavingTimes, new { @id="leavingtime", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Alarm", new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.GetAlarm, new { @id = "getalarm" })
        </div>
        <h5>Alarm when there are more than 5 people in the gym.</h5>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
    <h5>Number of people going to the gym at the same time plan: @ViewBag.NumberWithSamePlan</h5>
    <script>
        document.getElementById("isgoing").checked = @ViewBag.IsGoing;
        document.getElementById("getalarm").checked = @ViewBag.GetAlarm;
        document.getElementById("goingtime").value = @ViewBag.GoingTime;
        document.getElementById("leavingtime").value = @ViewBag.LeavingTime;

        function prepareAlarm(alarmHour) {
            var date = new Date();
            var hour = date.getHours();
            if (hour == alarmHour) {
                alert("There are greater than or equal to 5 people in the gym!");
                document.getElementById("currentNum").style = "background: yellow;";
            } else {
                setTimeout(prepareAlarm, 60, alarmHour);
            }
        }
        @foreach (var time in (List<int>)ViewBag.AlarmTimes)
        {
            <text>prepareAlarm(@time);</text>
        }

    </script>

    

}

