@model GymWizz.Models.PlanViewModel
@{
    ViewBag.Title = "Workout Plan";
}

<h2>Workout Plan</h2>

<h4>Today</h4>

@using (Html.BeginForm("Plan", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formworkout"  }))
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-group">
        @Html.Label("Abs", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBox("Abs", new { @id = "abs" })
        </div>
    </div>
    <div class="form-group" id="absgroup" style="display: none;">
        <div class="form-group">
            @Html.LabelFor(m => m.LegRaises, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.LegRaises, new { @id = "legraises" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SitUps, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.SitUps, new { @id = "situps" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AbBikes, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.AbBikes, new { @id = "abbikes" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SitUpTouchingKnees, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.SitUpTouchingKnees, new { @id = "situptouchingknees" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PlankFromKnees, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.PlankFromKnees, new { @id = "plankfromknees" })
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Arms, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Arms, new { @id = "arms" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Leg, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Leg, new { @id = "leg" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Chest, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Chest, new { @id = "chest" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.TotalBody, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.TotalBody, new { @id = "totalbody" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
}

<script>
    var chkLegraises = document.getElementById("legraises");
    var chkSitups = document.getElementById("situps");
    var chkAbbikes = document.getElementById("abbikes");
    var chkSituptouchingknees = document.getElementById("situptouchingknees");
    var chkPlankfromknees = document.getElementById("plankfromknees");
    var chkArms = document.getElementById("arms");
    var chkLeg = document.getElementById("leg");
    var chkChest = document.getElementById("chest");
    var chkTotalbody = document.getElementById("totalbody");
    var chkAbs = document.getElementById("abs");
    var chkAbsgroup = document.getElementById("absgroup");

    chkLegraises.checked = @ViewBag.LegRaises;
    chkSitups.checked = @ViewBag.SitUps;
    chkAbbikes.checked = @ViewBag.AbBikes;
    chkSituptouchingknees.checked = @ViewBag.SitUpTouchingKnees;
    chkPlankfromknees.checked = @ViewBag.PlankFromKnees;
    chkArms.checked = @ViewBag.Arms;
    chkLeg.checked = @ViewBag.Leg;
    chkChest.checked = @ViewBag.Chest;
    chkTotalbody.checked = @ViewBag.TotalBody;

    if (chkLegraises.checked ||
        chkSitups.checked ||
        chkAbbikes.checked ||
        chkSituptouchingknees.checked ||
        chkPlankfromknees.checked)
    {
        chkAbs.checked = true;
        chkAbsgroup.style.display = "block";
    }

    if (chkTotalbody.checked) {
        chkAbs.checked = true;
        chkArms.checked = true;
        chkLeg.checked = true;
        chkChest.checked = true;

        chkAbs.disabled = true;
        chkArms.disabled = true;
        chkLeg.disabled = true;
        chkChest.disabled = true;
    }

    function workoutcount() {
        var count = 0;
        count += chkAbs.checked ? 1 : 0;
        count += chkArms.checked ? 1 : 0;
        count += chkLeg.checked ? 1 : 0;
        count += chkChest.checked ? 1 : 0;
        return count;
    }

    function onClickExercise(object) {
        if (object.checked) {
            if (workoutcount() > 2 && !(chkTotalbody.checked)) {
                object.checked = false;
                alert("You can select 2 exercises at most.")
            }
        } else {
            chkTotalbody.checked = false;
        }
    }

    chkAbs.onchange = function () {
        if (this.checked) {
            chkAbsgroup.style.display = "block";
        } else {
            chkAbsgroup.style.display = "none";
            chkLegraises.checked = false;
            chkSitups.checked = false;
            chkAbbikes.checked = false;
            chkSituptouchingknees.checked = false;
            chkPlankfromknees.checked = false;
        }
        onClickExercise(this);
    };

    chkArms.onchange = function () {
        onClickExercise(this);
    }

    chkLeg.onchange = function () {
        onClickExercise(this);
    }

    chkChest.onchange = function () {
        onClickExercise(this);
    }

    chkTotalbody.onchange = function () {
        if (this.checked) {
            chkAbs.checked = true;
            chkArms.checked = true;
            chkLeg.checked = true;
            chkChest.checked = true;

            chkAbs.disabled = true;
            chkArms.disabled = true;
            chkLeg.disabled = true;
            chkChest.disabled = true;
        } else {
            chkAbs.checked = false;
            chkArms.checked = false;
            chkLeg.checked = false;
            chkChest.checked = false;

            chkAbs.disabled = false;
            chkArms.disabled = false;
            chkLeg.disabled = false;
            chkChest.disabled = false;
        }
        chkAbs.onchange();
    }

    document.getElementById("formworkout").onsubmit = function() {
        chkAbs.disabled = false;
        chkArms.disabled = false;
        chkLeg.disabled = false;
        chkChest.disabled = false;

        return true;
    }

</script>
